@import '../styles/common';

:host {
  display: flex;
  flex-direction: column;
  flex: auto;

  &.desktop {
    flex-grow: 12;
  }

  &.mobile {
    background-color: rgba(72, 103, 110, 0.95);
    color: whitesmoke;
  }
}
