@import '../styles/common';

:host {
  display: flex;
  flex-direction: column;
  flex: auto;

  &.desktop {
    flex-grow: 12;
  }

  &.sidebar {
    position: absolute;
    width: 80%;
    height: 97%;
    left: -500px;
    transition: all 0.25s;
  }

  &.animate {
    left: 0;
  }
}
