:host {
  display: flex;
  flex-direction: column;
  flex: auto;
  z-index: 1000;
  position: absolute;
  width: 80%;
  height: 100%;
  left: -2000px;
  transition: all 0.25s;

  &.open {
    transition: all 0.25s;
    left: 0;
  }

  &.close {
    transition: all 0.75s;
    left: -2000px;
  }
}
