@import '../styles/common';

:host {
  display: flex;
  height: 45px;
}

.settings-text {
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto';
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  flex: auto;
}

mat-icon {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  user-select: none;

  &:active {
    font-size: 30px;
  }
}
