:host {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.rounded-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 5px;
  color: ghostwhite;
  background-size: cover;
  border-radius: 12px;
}

.content {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 3px 3px 3px 15px;
  color: ghostwhite;
}

&.mobile {
  .content {
    font-size: 2vw;
  }
}

&.mobile {
  .rounded-avatar {
    width: 70px;
    font-size: 4vw;
  }
}
